{% extends 'base.html' %}

{% block content %}
{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Racing+Sans+One&display=swap" rel="stylesheet">
{% endblock %}
<div class="big" style="text-align:center">
    <h1><img src="https://de13-engine.flamingtext.com/netfu/tmp28003/coollogo_com-284671590.gif"></h1>
    <!-- <img src="../static/assets/gp1.png"> -->
</div>
{% endblock %}