{% import 'bootstrap/wtf.html' as wtf%}

<div style="font-family: 'Tangerine', cursive; font-weight: bold; font-size: 30px">
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark blue lighten-1">
    <a class="navbar-brand" href="#">Women In Tech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.post_pitch')}}">Post A blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Charts</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown
          </a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
            <a class="dropdown-item" href="{{url_for('auth.register')}}" style="font-size: 40px">Sign Up</a>
            <a class="dropdown-item" href="{{url_for('auth.login')}}" style="font-size: 40px">Login</a>
            <a class="dropdown-item" href="{{url_for('auth.logout')}}">Log Out</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('main.post_pitch')}}">View other peoples posts</a>
          </div>
        </li>
        <li class="nav-item avatar">
          <a class="nav-link p-0" href="#">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
              alt="avatar image" height="35">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</div>